body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 4px solid red;
    justify-content: center;
    align-items: center;
}

.mmm{
    width: 100%;
    display: flex;
    gap: 10px;
}

.movieCh{
    display: flex;
}

.movie{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 4px solid red;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.movieInfo{
    margin-left: 20px;
    font-size: 20px;
}

#name{
    border-bottom: 2px solid red;
    width: 60px;
}

#star{
    color: red;
}

#age{
    padding: 5px 10px;
    color: black;
    border: 4px solid red;
    border-radius: 50%;
}

#likebt{
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

#likebt:hover{
    box-shadow: 2px 2px;
}

#dislikebt{
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

#dislikebt:hover{
    box-shadow: 2px 2px;
}

.like{
    align-items: center;;
    gap: 10px;
    display: flex;
}

#moviePoster{
    border: 3px solid black;
    width: 30%;
    transition: all 0.5s;
    border-radius: 10px;
}

#moviePoster:hover{
    transform: scale(1.05);
}

iframe{
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.5s;
}

iframe:hover{
    transform: scale(1.05);
}

.main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 4px solid red;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mreview{
    text-align: center;
    color: black;
    margin: 0 0 20px 0;
}



.container2{
    border-bottom: 4px solid red;
}

.mainthing{
    margin-left: 20px;
    margin-right: 20px;
    color:  black;
}

.mainthing p{
    font-size: 20px;
}

#wsa{
    margin-bottom: 0;
}

#p1{
    margin-top: 0;
}

.container3{
    border-bottom: 4px solid red;
}




.opinion{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.opinion p{
    font-size: 20px;
}


.cast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cast img{
    transition: all 0.5s;
}

.cast img:hover{
    transform: scale(1.05);
}

.cast h1{
    border-bottom: 2px solid red;
}

.actor img{
    border: 3px solid black;
    border-radius: 10px;
}

#acname{
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}

.cast p{
    margin-bottom: 0;
    text-align: center;
}

.actors{
    display: flex;
    gap: 15px;
}

.actors1{
    display: flex;
    gap: 15px;
}

.cast img{
    width: 150px;
    height: 180px;
}

.container4{
    border-bottom: 4px solid red;
}











.optext{
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: start;
    width: 70%;
}

.opinions{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.titleop h2{
    border-bottom: 2px solid red;
    width: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.username{
    font-weight: bold;
}

.user{
    text-align: center;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin-bottom: 25px;
    display: flex;
    margin-left: 20px;
}

.user img{
    width: 84px;
    height: 84px;
    border: 2px solid black;
    border-radius: 10px;
}

.profile{
    width: 120px;
}

